@import 'variables';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh + #{$footer-height});
}

app-header {
  padding: 0 60px;
  app-burger-menu {
    height: 32px;
  }
}

@media (max-width: $smartphone) {
  app-header {
    .menu-mob {
      position: absolute;
      right: 60px;
    }
  }
}
