<div class="button-wrapper">
  <button class="kino-btn-primary" type="button" [routerLink]="['editor']">
    {{ 'ADMIN.NEWS.ADD_NEWS' | translate }}
  </button>
</div>
<div class="news-list">
  <app-news-article *ngFor="let newsItem of news; index as i" [news]="newsItem">
    <div class="article-button-container">
      <button type="button" class="kino-round-btn btn-remove" (click)="openRemoveModal('remove-modal', newsItem.id, i)">
        <img src="assets/images/ui-icons/icons-delete.svg" alt="">
      </button>
      <button type="button" class="kino-round-btn btn-edit" [routerLink]="['editor']"
        [queryParams]="{ newsId: newsItem.id }">
        <img src="assets/images/ui-icons/icons-edit.svg" alt="">
      </button>
    </div>
  </app-news-article>
</div>

<app-modal-window [id]="'remove-modal'" style="display: none;">
  <div class="modal-content">
    <h3>{{ 'ADMIN.NEWS.REMOVE_NEWS' | translate }}</h3>
    <p>{{ 'ADMIN.NEWS.PLACEHOLDERS.ARE_YOU_SHURE_TO_REMOVE' | translate }}</p>
    <div class="modal-button-container">
      <button class="kino-btn" (click)="closeRemoveModal('remove-modal')">{{ 'COMMON.BUTTONS.CANCEL' | translate }}</button>
      <button class="kino-btn-primary add-btn" (click)="closeRemoveModal('remove-modal', true)">
        {{ 'COMMON.BUTTONS.REMOVE' | translate}}
      </button>
    </div>
  </div>
</app-modal-window>
