<h2>
  {{"Правила посещения"}}
</h2>
<span>
  <pre>
  1. Посетители имеют право:

  1.1. На качественный кинопросмотр, согласно Правилам кинообслуживания населения, утвержденными постановлением
  Правительства РФ от 17.11.1994 г. № 1264 с изменениями и дополнениями от 10.03.2009 г..

  1.2. Свободно пользоваться всеми видами услуг, предоставляемыми киноцентром «Родина».

  1.3. На получение полной и достоверной информации по услугам, предоставляемым на территории кинотеатра, в том числе
  дополнительным.

  1.4. На возмещение стоимости билета в случае отмены просмотра, замены фильма или некачественной демонстрации фильма,
  произошедшей по вине кинотеатра, а также в случае непредставления информации о возрастных ограничениях на просмотр
  кинофильма и отказа зрителя в этом случае от просмотра кинофильма.

  1.5. Посетители имеют право на обращение с претензиями по вопросам реализации услуг кинотеатром к его администрации в
  течение рабочего времени.

  2. Посетители обязаны:

  С момента нахождения на территории кинотеатра и до ее оставления:

  2.1. Соблюдать настоящие Правила.

  2.2. Сохранять билет до окончания сеанса.

  2.3. Соблюдать общественный порядок.

  2.4. Бережно относится к имуществу кинотеатра, других посетителей кинотеатра, соблюдать чистоту и порядок в зрительных
  залах и на территории кинотеатра.

  2.5. При демонстрации фильма в формате 3D сдавать очки при выходе из зала.

  3. Посетителям запрещается:
  </pre>
</span>
